@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Martel Sans", sans-serif;
}

.navbar-section {
    background-color: #ffffff;
    width: 100%;
    padding: 15px 0px;
    border-bottom: 1px solid #e6dfd8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.first img {
    width: 40px;
}

.first span {
    color: #003087;
    font-weight: 600;
    font-size: large;
}

.second button {
    padding: 5px 35px;
    font-size: large;
    font-weight: 980;
    border-radius: 25px;
}

.second button:nth-child(1) {
    background-color: white;
    color: #003087;
    border: 2px solid #003087;

}

.navy {
    background-color: #003087;
    color: #ffffff;
    border: 1px solid #003087;
    border-radius: 25px;
    font-size: large;
    font-weight: 980;
    padding: 5px 35px;
}

.section-1 {
    height: 350px;
    background-color: #f3f3f6;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

.section-1 span:nth-child(1) {
    font-size: 18px;
    color: #0c276c;
    font-weight: 800;
}

.section-1 span:nth-child(2) {
    font-size: 88px;
    color: #001c64;
    font-weight: 900;
    text-align: center;
    line-height: 88px;
}

@media (max-width: 1000px) {
    .first span {
        display: none;
    }

    .first img {
        width: 30px;
    }

    .second button {
        padding: 3px 16px;
        font-size: small;
    }

    .navy {
        padding: 3px 16px;
        font-size: small;
    }

    .section-1 {
        padding: 0px 20px;
        /* gap: 20px; */
    }

    .section-1 span:nth-child(1) {
        font-size: 16px;
    }

    .section-1 span:nth-child(2) {
        font-size: 40px;
        line-height: 48px;
    }
}